"*":
  "atom-beautify":
    general:
      _analyticsUserId: "228e2df2-a685-42ae-8123-51961011a5be"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "atom-clock"
      "react"
      "atom-quokka"
      "atom-live-server"
      "symbol-gen"
      "symbols-tree-view"
      "linter"
      "wrap-guide"
      "Hydrogen"
      "tree-view-git-status"
      "pretty-json"
    ]
    telemetryConsent: "limited"
  editor:
    preferredLineLength: 65
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "69f2bbfb-460f-4bc3-939a-5cf233bd46ca"
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintRulesDirs: [
      "~/"
    ]
    eslintrcPath: "~/"
    ignoreFixableRulesWhileTyping: true
  "linter-ui-default":
    panelHeight: 349
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "pretty-json":
    prettifyOnSaveJSON: true
  "tree-view-git-status":
    showBranchLabel: false
  welcome:
    showOnStartup: false
